# Virtual environment
venv/
__pycache__/
*.pyc

# Environment variables
.env

# OAuth / Gmail credentials (VERY IMPORTANT)
credentials.json
token.json

# Alembic cache
alembic/versions/__pycache__/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

credentials.json
token.pickle    

gmail_token.json

